<!-- HTML basico para la web -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>PORT SCANNER W CELERY</h1>
    <form action="/scan" method="POST">
        <label for="ip">IP:</label>
        <input type="text" name="ip" id="ip">
        <label for="port">Puerto:</label>
        <input type="text" name="port" id="port">
        <input type="submit" value="Scan">
    </form>
</body>
</html>