<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hack Scan Results</title>
  <style>
    body {
      background-color: black;
      color: white;
      font-family: monospace;
    }
    table {
      border-collapse: collapse;
      width: 80%;
      margin: 50px auto;
    }
    th, td {
      border: 1px solid white;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: green;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>IP Address</th>
      <td> 
        {{ ip }}
      </td>
    </tr>
    <tr>
      <th>Port</th>
      <td>
        {{ port }}
      </td>
    </tr>
    <tr>
      <th>Tool Used</th>
      <td>
        {{ tool }}
      </td>
    </tr>
    <tr>
      <th>Vulnerabilities Found</th>
      <td>
        {{ vulnerabilities }}
      </td>
    </tr>
  </table>
</body>
</html>
