<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hack Scan Results</title>
  <style>
    body {
      background-color: black;
      color: white;
      font-family: monospace;
    }
    table {
      border-collapse: collapse;
      width: 80%;
      margin: 50px auto;
    }
    th, td {
      border: 1px solid white;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: green;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>IP Address</th>
      <td> 
        {{ ip }}
      </td>
    </tr>
    <tr>
      <th>Port Range</th>
      <td>
        {{ port_range }}
      </td>
    </tr>
    <tr>
      <th>Scan Type</th>
      <td>
        {{ scan_type }}
      </td>
    </tr>
    <tr>
      <th>Vulnerabilities Found</th>
      <td>
        {% if scan_result is not none %}
          <ul>
              <li>{{ scan_result }}</li>
          </ul>
        {% else %}
          <p>No vulnerabilities found.</p>
        {% endif %}
      </td>
    </tr>
  </table>
</body>
</html>